p {
    color: #ed1c35;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: solid;
}
body {
    color: #df0720e9;
}